<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span style="font-size: 10pt; text-transform: uppercase;">Casa do Empreendedor de Goiás</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-header>
      <ion-text>
        <h3 class="home">Olá seja bem vindo!</h3>
      </ion-text>
    </ion-card-header>
    <ion-text>
      <h3 class="home">Tudo bem como voçê?</h3>
    </ion-text>
    <ion-text>
      <p class="para">Este APP é o TAPP, Tudo aqui em apenas um APP,
        e um sistema feito pela KENTEC para ajudar nas coisas do dia a dia,
      por isso o sistema e composto de algumas ferramentas, possui uma agenda de compromissos,
      um gerenciador de tarefas, um módulo só para controle financeiro pessoal é um módulo para gravar links
      importantes que se encontra pela internet.</p>
    </ion-text>
    <ion-text>
      <p class="para">Não perca tempo começe agora a usar esta aplicativo e veja todos os beneficios que
        ele irá te trazer.
      </p>
    </ion-text>
      <ion-img src="assets/ceg.png"  style="height: 50px;"></ion-img>
      <div style="margin-bottom: 40px;"></div>
    </ion-card>
</ion-content>
